
/* ////////////////////// *
// Admin Page Stylesheet
// Created 5/17/2015
// Authored by Alex Chaudoin
* ///////////////////// */

#admin-tabs {
	width: 95%;
	margin: 10px auto 30px auto;
}

.form-half {
	width: 41%;
	margin: 0 4% 5%;
	display: inline-block;
	vertical-align: top;
}
label {
	width: 180px;
	display: inline-block;
	text-align: left;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
	background-color: #dcf5ae;
	border: 1px solid #c3db95;
}
textarea, select {
	margin: 10px 0 0 0;
}
#add-form, #edit-form, #pass-form {
	display: none;
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
input#company {
	color: #cdcdcd;
	background: #efefef;
	border: 1px solid #bbbbbb;
}
select {
	display: block;
	margin: 10px 0 20px 0;
}
#permissions, #edit_permissions {
	display: none;
	padding: 5px;
	background: #efefef;
	margin: 10px 0;
	width: 100%;
}
#permissions > .form-half > label, #edit_permissions > .form-half > label {
	margin: 5px 0;
	width: 290px;
}
input.error, select.error {
	color: #ff0000;
	background: #efefef;
	border: solid 1px #ff0000;
}
label.error {
	color: #ff0000;
	padding: 5px 0;
	width: 225px;
}
td, th {
	padding: 0;
	margin: 0;
	width: 100%;
}
td {
	word-wrap: break-word;
}
td > input[type="text"] {
	width: 90%;
	padding: 5px;
	margin: 10px 0;
	background-color: #efefef;
}
th {
	padding: 5px;
}
table {
	width: 100%;
}

.submit-button {
	text-align: center;
}
#add-submit, #edit-submit, #reset-submit {
	border-radius: 10px;
	padding: 10px;
	margin: 20px 0;
	background-color: #defaaa;
	border: 1px solid #c8e396;
}
#add-submit:hover, #edit-submit:hover, #reset-submit:hover {
	background-color: #eafcc7;
	border: 1px solid #d1e3af;
}

#admin-table_dashboard {
	width: 80%;
	margin: 20px auto;
}
#admin-table_dashboard > button {
	background-color: #b4e753;
	border: 1px solid #97d423;
	border-radius: 10px;
	padding: 5px;
	margin: 0 20px;
}
#admin-table_dashboard > button:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}
#admin-table_dashboard > button.delete {
	display: none;
	background-color: #fdd79a;
	border: 1px solid #e3c28d;
}

.save-cancel {
	display: none;
}
