
/* ////////////////////// *
// Admin Page Stylesheet
// Created 5/17/2015
// Authored by Alex Chaudoin
* ///////////////////// */

#admin-tabs {
	width: 95%;
	margin: 10px auto 30px auto;
}

.form-half {
	width: 41%;
	margin: 0 4% 5%;
	display: inline-block;
	vertical-align: top;
}
label {
	width: 180px;
	display: inline-block;
	text-align: left;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
	background-color: #dcf5ae;
	border: 1px solid #c3db95;
}
textarea, select {
	margin: 10px 0 0 0;
}
#add-form, #edit-form, #pass-form {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
select {
	display: block;
	margin: 10px 0 20px 0;
}
#permissions, #edit_permissions {
	display: none;
	padding: 5px;
	background: #efefef;
	margin: 10px 0;
	width: 100%;
	height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#permissions > .form-half > label, #edit_permissions > .form-half > label {
	margin: 5px 0;
	width: 290px;
}
input.error, select.error {
	color: #ff0000;
	background: #efefef;
	border: solid 1px #ff0000;
}
label.error {
	color: #ff0000;
	padding: 5px 0;
	width: 225px;
}
td, th {
	padding: 0;
	margin: 0;
	width: 100%;
}
td {
	word-wrap: break-word;
}
td > input[type="text"] {
	width: 90%;
	padding: 5px;
	margin: 10px 0;
	background: #ffffff;
	color: #387929;
}
td > input[type="text"]:disabled {
	background: #efefef;
	color: #aaaaaa;
}
th {
	padding: 5px;
}
table {
	width: 100%;
}

.submit-button {
	text-align: center;
}
#add-submit, #reset-submit {
	background-color: #defaaa;
	border: 1px solid #c8e396;
}
#add-submit:hover, #reset-submit:hover {
	background-color: #eafcc7;
	border: 1px solid #d1e3af;
}
#add-cancel, #reset-cancel {
	background-color: #fcc4ae;
	border: 1px solid #e6a085;
}
#add-cancel:hover, #reset-cancel:hover {
	background-color: #ffe0d4;
	border: 1px solid #e6c1b3;
}
#add-submit, #reset-submit, #add-cancel, #reset-cancel {
	border-radius: 10px;
	padding: 10px;
	margin: 20px 10px;
}

#admin-table_dashboard {
	width: 80%;
	margin: 20px auto;
}
#admin-table_dashboard > button {
	background-color: #b4e753;
	border: 1px solid #97d423;
	border-radius: 10px;
	padding: 5px;
	margin: 0 20px;
}
#admin-table_dashboard > button:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}
#admin-table_dashboard > button.delete {
	display: none;
	background-color: #fdd79a;
	border: 1px solid #e3c28d;
}

.pagination {
	margin: 40px auto;
	width: 50%;
}
.page-span {
	margin: 0 10px;
}
.page-buttons {
	margin: 0 2px;
}

.save-cancel {
	display: none;
}

#add-reset_bg {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(100,100,100,0.8);
	z-index: 500;
}
#add-dialog, #reset-dialog, #delete-dialog {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000;
	background: #ffffff;
	border: 1px solid #387929;
	padding: 10px;
}
#add-dialog {
	height: 600px;
	width: 600px;
}
#reset-dialog {
	height: 300px;
	width: 600px;
}
#delete-dialog {
	height: 300px;
	width: 600px;
}
.delete-warning {
	margin: 40px auto 20px auto;
	width: 375px;
}

.post-error, .post-success, .add-error {
	padding: 5px;
	width: 300px;
	height: auto;
	margin: 20px auto;
	display: none;
}
.post-error, .add-error {
	color: #9e3f3f;
	background-color: #f7e1e1;
}
.post-success {
	color: #537a33;
	background-color: #e4f7d5;
}
