
/* ////////////////////// *
// Admin Page Stylesheet
// Created 5/17/2015
// Authored by Alex Chaudoin
* ///////////////////// */

#admin-tabs {
	width: 85%;
	margin: 10px auto 30px auto;
}
tr:not(:first-child) {
	cursor: pointer;
}

#add-account > label, #add-account > input, #edit-account > label, #edit-account > input {
	display: block;
}
.text {
	margin: 0 0 12px 0;
	width: 95%;
	padding: 0.4em;
}
#add-account > form > fieldset, #edit-account > form > fieldset {
	padding: 0;
	border: none;
	margin: 25px 0 0 0;
}

#admin-table_dashboard {
	width: 80%;
	margin: 20px auto;
}
#admin-table_dashboard > input[type="button"], input[type="reset"] {
	background-color: #b4e753;
	border: 1px solid #97d423;
	border-radius: 10px;
	padding: 5px;
	margin: 0 20px;
}
#admin-table_dashboard > input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}
