
/* ////////////////////// *
// Home Page Stylesheet
// Created 5/15/2015
// Authored by Alex Chaudoin
* ///////////////////// */

#home-tabs {
	width: 85%;
	margin: 10px auto 30px auto;
}

#home-form {
	width: 90%;
	display: block;
	margin: 0 auto;
	text-align: left;
}
#home-form > div {
	display: none;
}
#home-form > div.active-form {
	display: block;
}
.form-half {
	width: 41%;
	margin: 0 4%;
	display: inline-block;
}
label {
	width: 180px;
	display: inline-block;
	text-align: left;
}
input[type="text"], select {
	width: 60%;
	background-color: #efefef;
	border: 1px solid #dddddd;
}
input[type="text"] {
	border-radius: 10px;
}
textarea {
	margin: 10px 0 0 0;
}
#home-form_dashboard {
	width: 80%;
	margin: 0 auto;
}
#home-form_dashboard > #progress-buttons > input[type="button"], #progress-bar {
	margin: 0 10px;
}
#progress-bar {
	width: 60%;
	margin: 40px auto;
}
#home-form_dashboard > #progress-buttons > input[type="button"] {
	background-color: #b4e753;
	border: 1px solid #97d423;
	border-radius: 10px;
	padding: 5px;
	margin: 0 20px;
}
#home-form_dashboard > #progress-buttons > input[type="button"]:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}

#progress-buttons > div {
	display: none;
}
#progress-buttons > div.active {
	display: block;
}
#progress-buttons > div > span {
	margin: 0 20px;
}
