
/* ////////////////////// *
// Home Page Stylesheet
// Created 5/15/2015
// Authored by Alex Chaudoin
* ///////////////////// */

#home-tabs {
	width: 95%;
	margin: 10px auto 30px auto;
}

#home-form {
	width: 90%;
	display: block;
	margin: 0 auto;
	text-align: left;
}
#home-form > div {
	display: none;
}
#home-form > div.active-form {
	display: block;
}
.form-half {
	width: 41%;
	margin: 0 4% 5%;
	display: inline-block;
	vertical-align: top;
}
label {
	width: 180px;
	display: inline-block;
	text-align: left;
}
input[type="text"], input[type="email"], textarea, select {
	background-color: #dcf5ae;
	border: 1px solid #c3db95;
}
textarea, select {
	margin: 10px 0 0 0;
}
input.error, select.error {
	color: #ff0000;
	background: #efefef;
	border: solid 1px #ff0000;
}
label.error {
	color: #ff0000;
	padding: 5px 0;
	width: 225px;
}
td {
	word-wrap: break-word;
}
table {
	width: 100%;
}
#home-form_dashboard {
	width: 80%;
	margin: 0 auto;
}
.form-buttons, #progress-bar {
	margin: 0 10px;
}
#progress-bar {
	width: 60%;
	margin: 20px auto 10px auto;
}
.form-buttons, #submit {
	border-radius: 10px;
	padding: 10px;
	margin: 0 20px;
}
.form-buttons {
	background-color: #b4e753;
	border: 1px solid #97d423;
}
.form-buttons:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}
#submit {
	background-color: #defaaa;
	border: 1px solid #c8e396;
}
#submit:hover {
	background-color: #eafcc7;
	border: 1px solid #d1e3af;
}

#progress-buttons > div {
	display: none;
}
#progress-buttons > div.active {
	display: block;
}
#progress-buttons > div > span {
	margin: 0 20px;
}
