
/* ////////////////////// *
// Project Page Stylesheet
// Authored by Tim Willbanks
* ///////////////////// */

#home-tabs {
	width: 85%;
	margin: 10px auto 30px auto;
}

#home-form {
	width: 90%;
	display: block;
	margin: 0 auto;
	text-align: left;
}
#home-form > div {
	display: none;
}
#home-form > div.active-form {
	display: block;
}
.form-half {
	width: 41%;
	margin: 0 4%;
	display: inline-block;
}
label {
	width: 90px;
	display: inline-block;
	text-align: left;
}
input[type="text"], select {
	width: 60%;
	background-color: #efefef;
	border: 1px solid #dddddd;
}
input[type="text"] {
	border-radius: 10px;
}
#home-form_dashboard {
	width: 80%;
	margin: 0 auto;
}
#home-form_dashboard > #progress-buttons > input[type="button"], #progress-bar {
	margin: 0 10px;
}
#progress-bar {
	width: 60%;
	margin: 40px auto;
}
#home-form_dashboard > #progress-buttons > input[type="button"] {
	background-color: #b4e753;
	border: 1px solid #97d423;
	border-radius: 10px;
	padding: 5px;
	margin: 0 20px;
}
#home-form_dashboard > #progress-buttons > input[type="button"]:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}

#progress-buttons > div {
	display: none;
}
#progress-buttons > div.active {
	display: block;
}
#progress-buttons > div > span {
	margin: 0 20px;
}

.description-cont 
{
	display: inline-block;
}

.project-info 
{
	text-align: left;
}

.description-left 
{
	text-align: left;
	background-color: lightgray;
	width: 45%;
	padding: 10px;
}

.description-left-title 
{
	text-align: left;
}

.description-right 
{
	text-align: left;
	background-color: lightgray;
	width: 45%;
	padding: 10px;
	float: left;
}

.description-right-title 
{
	text-align: left;
}

[type=checkbox] 
{
display: none;
}

:checked + div {
    display: block !important;
    
 }

.box
{
    
    display: none;
 }

 .division 
 {
 	width: 100%;
 	background-color: #387929;
 	text-align: left;
 	margin-bottom: 5px;
 	border-radius: 10px;
 	padding: 10px;
 	color: #fff;
 }

 .division1, .division2, .division3, .division4, .division5, .division6, .division7, 
 .division8, .division9, .division10 
{ 
	background: #90C32E;
	text-align: center;
	margin-bottom: 5px;
}


