
/* ////////////////////// *
// Project Page Stylesheet
// Authored by Tim Willbanks
* ///////////////////// */

.content {
	padding: 5px 0px;
	height: auto;
}

h2{
	margin: 5px 0;
}

.project-tab1-inputs{
	background-color: #d7f3a1;
	margin-left: 10px;
	padding-left: 10px;
}

.project-tab1-inputs1{
	background-color: #d7f3a1;
	margin-left: -50px;
	padding-left: 10px;
}

textarea.project-tab1-textarea{
	background-color: #d7f3a1;
	
	height: 400px;
	margin-left: 10px;
	padding: 10px;
	line-height: 1.25em;
}

.project-tab1-form-labels{
	width: 100px;
}

div.project-active-form {
	display: block;
}

div.left{
	display: inline-block;
	width: 140px;
}

.left label{
	text-align: left;
	width: 210px;
}

div.left2{
	text-align: left;
	display: inline-block;
	width: 140px;
	margin-left: -20px;
}
.left2 label{
	text-align: left;
	width: 210px;
	margin-left: -30px;
}

.state-select select{
	background-color: #d7f3a1;
	width: 230px; 
	text-align: left;
	display: inline-block;
	margin-left: -50px;
	/*margin-right: 13px;*/
}

.project_status_id{
	background-color: #d7f3a1;
}

.project_status_id, .project_status_id option{
	width:225px;
	margin-left: 9px;
	padding-left: 9px;
}


#select-box {
	margin-left: 10px;
	background-color: #d7f3a1;
	text-align: left;
	width: 225px;
}

#select-box option{
	text-align: left;
	width: 225px;
}


/*.left-description{
	text-align: left;
	line-height:1em;
	padding-left: 30px;
}*/

.border-top-div{
	border-top: 1px;
	border-top-color: darkgreen;
	border-top-style: solid;
}

#home-tabs {
	width: 95%;
	margin: 10px auto 30px auto;
}

#home-form {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: left;
}

#home-form > div {
	display: none;
}

#home-form > div.active-form {
	display: block;
}

.form-half {
	width: 41%;
	margin: 0 4%;
	display: inline-block;
}

label {
	width: 125px;
	display: inline-block;
	text-align: left;
	padding-left: 15px;
	padding-bottom: 15px;
}

/*input[type="text"], select {
	width: 60%;
	background-color: #efefef;
	border: 1px solid #dddddd;
}

input[type="text"] {
	border-radius: 10px;
}*/

#home-form_dashboard {
	width: 80%;
	margin: 0 auto;
}
#home-form_dashboard > #progress-buttons > input[type="button"], #progress-bar {
	margin: 0 10px;
}
#progress-bar {
	width: 60%;
	margin: 40px auto;
}
#home-form_dashboard > #progress-buttons > input[type="button"] {
	background-color: #b4e753;
	border: 1px solid #97d423;
	border-radius: 10px;
	padding: 5px;
	margin: 0 20px;
}
#home-form_dashboard > #progress-buttons > input[type="button"]:hover {
	background-color: #d7f3a1;
	border: 1px solid #beea68;
}

#progress-buttons > div {
	display: none;
}
#progress-buttons > div.active {
	display: block;
}
#progress-buttons > div > span {
	margin: 0 20px;
}

/*#tab2{
	width: 100%;
	height: 100%;
}*/

/*.description-cont{
	float: left;
	width: 50%;
}*/

.project-info {
	text-align: left;
}

/*.description-left {
	text-align: left;
	width: 90%;
	padding: 10px;
	float: left;
	clear: both;
}*/

.description-left-title {
	text-align: left;
}

/*.description-right {
	text-align: left;
	width: 90%;
	padding: 10px;
	float: left;
	clear:both;
}
*/
.description-right-title {
	text-align: left;
}

 .division  {
 	width: 100%;
 	background-color: #387929;
 	text-align: left;
 	margin-bottom: 5px;
 	border-radius: 10px;
 	padding: 10px;
 	color: #fff;
 }

 .division1, .division2, .division3, .division4, .division5, .division6, .division7, 
 .division8, .division9, .division10 { 
	background: #90C32E;
	text-align: center;
	margin-bottom: 5px;
}

button {
	background-color: #b4e753;
	width: 150px;
	height: 45px;
	border-radius: 15px;
	margin-left: 30px;
	color: #000;
	font-size: 18px;
	border: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

button a {
	text-decoration: none;
}

button a:hover {
	text-decoration: none;
}

button:hover{
	background-color: #d7f3a1;
	text-decoration: none;
}

#project_description{
	width: 400px;
	height: auto;
}

.login_button{
	margin-bottom: 15px;

}

.login_button:hover{
	background-color: #387929;
	color: #fff;
}

.scroller {
	height: 325px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.project-tab1{
	display: table-cell;
	width: 40%;
	/*float: left;*/
}

.project-tab1-ta{
	width: 40%;
	display: table-cell;
}

.div-table{
	display: table;
}
/**/
/*start Table related CSS*/
/**/
.exTableColLineNum, .chTableColLineNum{
	width: 100px;	
}

.inTableColTaskID{
	width:80px;
}

.taskIDSelect, .taskIDSelect option{
	width:250px;
}

.exTableColAmount, .chTableColAmount, .inTableColAmount{
	width: 150px;
}

.inTableColTaskName{
	width:300px;
}

.exTableRow, .chTableRow, .inTableRow{
	padding:0px;
	margin:0px;
}

.exTableData, .chTableData{
	text-align:left;
}

.exTableTotal, .chTableTotal, .inTableTotal{
	text-align:right;
}

.exDescInput, .chDescInput, .inSubCon{
	width:100%;
	background-color: #dcf6ac;
	padding:0;
	margin:0;
}

table{
	height:auto;
}

.exAmtInput, .chAmtInput, .inAmtInput{
	width:100%;
	/*width:135px;*/
	text-align:right;
	background-color: #dcf6ac;
	padding:0;
	margin:0;
}

#tab3, #tab3 div, #tab3 form, #tab3 table,
#tab4, #tab4 div, #tab4 form, #tab4 table,
#tab5, #tab5 div, #tab5 form, #tab5 table{
	padding:0;
	margin:0;
}

#tab3 table, #tab4 table, #tab5 table{
	width:100%;
}

.loadsheet_h3{
	display:inline;
	display:inline-block;
	text-align: left;
}

/**/
/*end Table related CSS*/
/**/
