
/* Google Fonts */
@font-face {
  font-family: "Questrial Regular";
  src: 	url("../fonts/Questrial-Regular/Questrial-Regular.eot");
  src: 	url("../fonts/Questrial-Regular/Questrial-Regular.eot?#iefix") format("embedded-opentype"), 
  		url("../fonts/Questrial-Regular/Questrial-Regular.woff") format("woff"),
  		url("../fonts/Questrial-Regular/Questrial-Regular.woff2") format("woff2"), 
  		url("../fonts/Questrial-Regular/Questrial-Regular.svg#Questrial-Regular") format("svg"), 
  		url("../fonts/Questrial-Regular/Questrial-Regular.ttf") format("truetype"); 
}

* {
	box-sizing: border-box;
}

body {
	background-color: #387929;
	color: #333333;
	font-size: 18px;
	font-family: "Questrial Regular", Tahoma, sans-serif;
}

p {
	font-size: 20px;
}

.wrapper {
	width: 960px;
  	margin: 0 auto;
 }

header {
	width: 100%;
	height: 200px;
	background-color: #ffffff;
}

ul.top-nav {
	width: 35%;
	float: right;
	padding: 10px 10px 0 0;
	list-style: none;
	text-decoration: none;
	color: #333333;
}

.top-nav > li {
	float: left;
	padding: 0 10px;
	text-decoration: none;
}

.top-nav a  {
	color: #333333;
	text-decoration: none;
	
}
.top-nav a:visited {
	color: #000000;
	text-decoration: none;
}
.top-nav a:hover {
	color: #387929;
	border-bottom: 1px solid #387929;
}

.logo {
	
	width: 35%;
	
	padding-left: 15px;
}

.logo img {
	position: relative;
	float: left;
	margin-top: 38px;
	margin-left: 90px;
	width: 50%;
	height: auto;
}

.title {
	width: 50%;
	margin-left: -50px;
	margin-top: 40px;
	float: left;
	text-align: center;
	padding: 0;
	color: #004800;
}
.title h1, .title h2 {
	text-align: center;
	margin: 5px 0;
}

footer {
	background-color: #ffffff;
	text-align: center;
	padding: 10px 0;
}

a  {
	color: #333333;
	text-decoration: none;
	
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #387929;
	
}

footer ul {
	padding: 0 0 10px 0;
}
footer li {
	display: inline-block;
	list-style-type: none;
	color: green;
	padding: 0 10px;
}
.footer_copy {
	text-align: center;
	font-size: 16px;
	padding: 0 0 20px 0;
}

.content {
	width: 100%;
	margin: 0;
	padding: 50px 0;
	background-color: #90C32E;
	text-align: center;
}

label {

	text-align: right;
	margin-top: 20px;
}

input {
	margin-top: 20px;
}

img {
	height: 25px;
	width: auto;
}

/* Table Styles */

table {
	width: 100%;
	height: 200px;
	overflow: scroll;
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	border-collapse: collapse;
}
tr:nth-child(1) { 
	background-color: #387929;
	color: #ffffff;
}
tr {
	background-color: #dcf6ac;
}
th, td {
	padding: 10px 5px;
	border: 5px solid #ffffff;
}
td > span.ui-icon {
	display: inline-block;
}
